In [1]:
import pandas as pd
import sqlite3

# create a connection to the SQLite database
conn = sqlite3.connect('Amazon/amazon.db')

# read data from a table into a Pandas DataFrame
df = pd.read_sql('SELECT * FROM products', conn)

# close the database connection
conn.close()

# display the DataFrame
print(df.head())

DatabaseError: Execution failed on sql 'SELECT * FROM products': no such table: products